/* Aplica estilos de la página */
.page {
  width: 100%; /* Ocupa todo el ancho disponible hasta su máximo */
  margin: 0 auto; /* Centra el bloque horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
}
