.Blog_Articles {
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0 50px;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 79px;
}

.Blog_Articles__container {
  display: flex;
  flex-direction: column;
}

.Blog_Articles__title {
  color: #264015;
  font-weight: 800;
  font-size: 40px;
}

/* MAIN ARTICLE SECTION */
.Blog_Articles__mainArticle_Container {
  display: flex;
  gap: 38px;
  margin-top: 32px;
}

.articles__main_article_image {
  width: 610px;
}

/* Avatar Info */
.articles__main_author_info {
  display: flex;
  gap: 12px;
  align-items: center;
}

.articles__main_avatar_image {
  height: 50px;
  width: 50px;
}

.articles__main_article_author {
  font-size: 18px;
}

.articles__main_author_content {
  display: flex;
  flex-direction: column;
}

/* Article Content Info */
.Blog_Articles__mainArticle_info {
  display: flex;
  flex-direction: column;
}

.Blog_Articles__main_article_title {
  font-size: 40px;
  font-weight: 800;
  max-width: 502px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 8px;
  color: #8bbb40;
}

.Blog_Articles__main_article_description {
  max-width: 640px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.Blog_Articles__main_article_button {
  background-color: #71ab13;
  color: white;
  padding: 10px 50px;
  border-radius: 9999px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  align-self: end;
}

.Blog_Articles__seeAll {
  color: #3d5919;
  font-size: 18px;
  font-weight: 500;
  margin-top: 63px;
  align-self: end;
}

/* OTHER ARTICLES SECTION */
.Blog_Articles__other_articles_text {
  margin-top: 70px;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.Blog_Articles__other_articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 29px;
  justify-content: center;
  margin-top: 12px;
}

.other_articles_secondRow {
  margin-top: 32px;
}

.Blog_Articles__other_articles_container {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
}

.Blog_Articles__other_article_image {
  width: 400px;
  height: 300px;
}

.Blog_Articles__other_article_button {
  display: flex;
  flex-direction: column;
  background-color: #71ab13;
  color: white;
  padding: 10px 42px;
  border-radius: 9999px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  width: 176px;
}

@media (max-width: 480px) {
  .Blog_Articles {
    height: auto;
    padding: 23px 18px 50px;
    max-width: 480px;
  }

  .Blog_Articles__title {
    font-size: 22px;
  }

  /* MAIN ARTICLE SECTION */
  .Blog_Articles__mainArticle_Container {
    display: flex;
    gap: 10px;
    margin-top: 13px;
  }

  .articles__main_article_image {
    width: 236px;
    max-height: 236px;
    margin-top: 40px;
  }

  /* Avatar Info */
  .articles__main_author_info {
    gap: 5px;
  }

  .articles__main_avatar_image {
    height: 30px;
    width: 30px;
  }

  .articles__main_article_author {
    font-size: 11px;
  }

  /* Article Content Info */
  .Blog_Articles__main_article_title {
    font-size: 21px;
    max-width: 250px;
    margin-top: 7px;
    margin-bottom: 6px;
  }

  .Blog_Articles__main_article_description {
    max-width: 250px;
    font-size: 12px;
    text-align: justify;
  }

  .Blog_Articles__main_article_button {
    padding: 4px 25px;
    font-size: 9px;
    margin-top: 4px;
    margin-right: 0px;
  }

  .Blog_Articles__seeAll {
    font-size: 12px;
    margin-top: 20px;
    margin-right: 8px;
  }

  /* OTHER ARTICLES SECTION */
  .Blog_Articles__other_article_image {
    width: 220px;
    height: 150px;
  }

  .Blog_Articles__other_articles {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 8px;
    margin-top: 6px;
  }

  .other_articles_secondRow {
    margin-top: 0px;
  }

  .Blog_Articles__other_articles_container {
    gap: 4px;
  }

  .Blog_Articles__other_article_button {
    padding: 5px 15px;
    font-size: 13px;
    width: 100px;
  }
}

@media (max-width: 430px) {
  .Blog_Articles {
    height: auto;
    padding: 23px 10px 40px;
    max-width: 393px;
  }

  .Blog_Articles__title {
    font-size: 18px;
  }

  /* MAIN ARTICLE SECTION */
  .Blog_Articles__mainArticle_Container {
    display: flex;
    gap: 12px;
    margin-top: 13px;
  }

  .articles__main_article_image {
    width: 180px;
    max-height: 180px;
  }

  /* Avatar Info */
  .articles__main_author_info {
    gap: 5px;
  }

  .articles__main_avatar_image {
    height: 28px;
    width: 28px;
  }

  .articles__main_article_author {
    font-size: 10px;
  }

  /* Article Content Info */
  .Blog_Articles__main_article_title {
    font-size: 16px;
    max-width: 180px;
    margin-top: 7px;
    margin-bottom: 6px;
  }

  .Blog_Articles__main_article_description {
    max-width: 180px;
    font-size: 9px;
    text-align: justify;
  }

  .Blog_Articles__main_article_button {
    padding: 4px 17px;
    font-size: 8px;
    margin-top: 4px;
    margin-right: 0px;
  }

  .Blog_Articles__seeAll {
    font-size: 12px;
    margin-top: 14px;
    margin-right: 8px;
  }

  /* OTHER ARTICLES SECTION */
  .Blog_Articles__other_article_image {
    width: 180px;
    height: 129px;
  }

  .Blog_Articles__other_articles {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 8px;
    margin-top: 6px;
  }

  .other_articles_secondRow {
    margin-top: 0px;
  }

  .Blog_Articles__other_articles_container {
    gap: 4px;
  }

  .Blog_Articles__other_article_button {
    padding: 5px 15px;
    font-size: 11px;
    width: 100px;
  }
}
